/* Original Style */

	body {
		font-family:Helvetica, Arial, sans-serif;
	}
	div {
		width:800px;
		margin:0 auto;
	}
	#top, #footer {
		text-align:center;
	}
	#footer {
		margin-top:20px;
		margin-bottom:10px;
		font-size:12px;
	}
	h1 {
		font-size:72px;
	}
	label {
		font-size:12px;
	}
	pre {
		background:#eee;
		padding:8px;
		margin:0;
	}
	
/* My Style */

p:first-letter {
   margin-left: 5em;
}